html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-player-modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 100;

  .flex {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .popup {
      position: relative;
      background-color: #dadfea;
      width: 300px;
      height: 200px;
      border-radius: 10px;
      padding: 20px;

      .floating-close {
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 1.5em;
        color: orangered;
      }
    }
  }
}

.container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;


  .landing-page {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-image: url("../img/golf-course.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .inside-blur {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: center;

      .course-select {
        padding: 10px;
        font-size: 1.5em;
        margin: 50px;

      }

      .scoresheet {
        background-color: white;
        width: 80%;
        display: flex;

        .total {
          border-top: 1px solid #dadfea;
          border-right: 1px solid #dadfea;
          padding: 0 10px 10px 10px;
          display: flex;
          flex-direction: column;

          .total-header {
            text-align: center;
            border-bottom: 1px solid #dadfea;
            padding: 16px;


          }
          .player-total {
            text-align: center;
            border-bottom: 1px solid #dadfea;
            height: 64px;

          }
        }

        .players-container {
          border-top: 1px solid #dadfea;
          padding: 0 10px 10px 10px;
          min-width: 120px;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;

          .players-header {
            text-align: center;
            border-bottom: 1px solid #dadfea;
          }


          .players {


            .player {
              padding: 13px 13px 14px 13px;
              font-size: 2em;

              //TODO Fix This
              border-bottom: 1px solid #dadfea;
            }

          }

          .add-player {
            padding-top: 25px;
            padding-bottom: 15px;
            width: 100%;
          }

        }

        .score-column {
          display: flex;
          flex-direction: column;
          overflow: scroll;
        }

        .holes, .player-scores {
          border-left: 1px solid #dadfea;
          display: flex;
          flex-direction: row;
          //margin-left: 10px;

          //scrolling

          //height: 210px;

          .hole {
            border-right: 1px solid #dadfea;
            padding: 10px 10px 0 10px;
            white-space: nowrap;
            width: 50px !important;




            .hole-number {
              width: 50px;
              padding-top: 7px;
              padding-bottom: 16px;
              border-bottom: 1px solid #dadfea;
              text-align: center;
            }


            //scrolling (put fixed width for scores instead of huge width)

          }

          .hole:last-child {
            border: none;
          }


          .score {
            border-right: 1px solid #dadfea;
            border-bottom: 1px solid #dadfea;
            white-space: nowrap;
            padding-right: 1px;
            width: 70px !important;

            .score-display {
              white-space: nowrap;
              width: 70px !important;
            }

            .score-input {
              text-align: center;
              border: none;
              width: 67px;
              height: 62px;
              font-size: 1.5em;
              border-bottom: 1px solid #dadfea;

            }
            .score-input:last-child {
              border: none;
            }
          }
        }
      }


    }
  }

  .landing-page:after {
    content: '';
    width: 103%;
    height: 103%;
    background: inherit;
    position: absolute;
    top: 0;
    left: -4px;
    //filter: blur(1px);
  }
}

.mobile-only {
  display: none;
}

@media only screen and (max-width: 600px) {
  .mobile-only {
    display: block;
  }
  .desktop {
    display: none;
  }
}